/* (c) 2013 Inkling Systems, Inc. */


/* Page styling */
body {
    background: -webkit-linear-gradient(left, #007db6 0%, #008fb2 16.6%, #009b9e 33.3%,
        #00a77d 50%, #00b247 66.6%, #5ab027 83.3%, #a0b61e 100%);
    background: -moz-linear-gradient(left, #007db6 0%, #008fb2 16.6%, #009b9e 33.3%,
        #00a77d 50%, #00b247 66.6%, #5ab027 83.3%, #a0b61e 100%);
    background: linear-gradient(left, #007db6 0%, #008fb2 16.6%, #009b9e 33.3%,
        #00a77d 50%, #00b247 66.6%, #5ab027 83.3%, #a0b61e 100%);
}

#presentation {
    background-color: #ddd;
    width: 80%;
    margin: 1em auto;
    padding: 2em;
    font-family: Verdana, monospace;
    font-size: 10pt;
}

h3 {
    margin-top: -1em;
    border-bottom: 1px solid black;
}

/* Arena styling */
#arena {
    width: 100%;
    min-width: 500px;
    height: 600px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

#arena * {
    position: absolute;
}

.hidden {
    display: none;
}

.overlay {
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Game entity styling */
.brick {
    background-color: #007db6;
}

.brick[data-health="2"] {
    background-color: #008fb2;
}

.brick[data-health="3"] {
    background-color: #00a77d;
}

.brick[data-health="4"] {
    background-color: #00b247;
}

.brick[data-health="5"] {
    background-color: #5ab027;
}

.brick[data-health="6"] {
    background-color: #a0b61e
}

.paddle {
    height: 12px;
    background-color: #555;
    left: 0;
    bottom: 0;
}

/* Hide our leveldata */
#levels {
    display: none;
}
